@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans";
}

.halal{
    display: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



header{
    display: flex;
    width: 375px;
    background: url(assets/Group\ 2.png) right top no-repeat ;
    flex-direction: column;
}



.equalizer{
    width: 146.093px;
    height: 32px;
    margin-left: 25px;
    margin-top: 40px;

}


.gtext1{
    margin-top: 64px;
    margin-left: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}


.wmym{
    width: 327px;
    color: #191826;
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: -0.455px;
    
}


.wmym1{
    width: 327px;
    color: #191826;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}



main{
    width: 375px;
    background: #191826 url(assets/Group\ 8\ \(3\).png) top no-repeat;
    margin-top: 166px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}


.g5{
    width: 208.972px;
    height: 430px;
    position: absolute;
    top: -100px;
}


.orange{
    width: 375px;
    height: 546px;
    border-radius: 12px;
    background: #FA7453;
    position: absolute;
    bottom: -320px;
}

.pe{
    width: 302px;
    color: #FCFAF9;
    font-family: 'IBM Plex Sans';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    margin-top: 48px;
    margin-left: 36px;
}


.pe1{
    width: 302px;
    color: #FCFAF9;
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin-left: 36px;
    margin-top: 12px;
}



.d4{
    color: #FCFAF9;
font-family: 'IBM Plex Sans';
font-size: 65px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 80% */
}

.d41{
    color: #FCFAF9;
font-family: 'IBM Plex Sans';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
letter-spacing: -0.2px;
}


.ddd{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 16px;
    margin-top: 36px;
    margin-left: 42px;
}


.download{
    width: 296px;
    height: 61px;
    border-radius: 12px;
    background: #191826;
    margin-top: 32px;
    margin-left: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FCFAF9;
    text-align: center;
font-family: 'IBM Plex Sans';
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 177.778% */
letter-spacing: -0.18px;
cursor: pointer;
}


.comsh{
    width: 17.083px;
    height: 20px;
    margin-right: 8px;
}


.a{
    background-color: white;
    color: black;
    margin-top: 16px;
}


footer{
    width: 375px;
    height: 400px;
    margin-top: 350px;
}

.gtext2{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}


h3{
    color: #191826;
font-family: 'IBM Plex Sans';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 310px;
margin-left: 24px;

}

.nn2{
    color: #191826;
font-family: 'IBM Plex Sans';
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 26px;
}



.multi{
    margin-left: 24px;
    margin-top: 64px;
    cursor: pointer;
}

.multi:hover{
    fill: red;
}



.download:hover{
    background: #66E2DC;
}

.a:hover{
    background: #FFB964;
}